<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MsfConfig" type="Microsoft.SolverFoundation.Services.MsfConfigSection, Microsoft.Solver.Foundation, Version=3.0.2.10889, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
  </configSections>

  <MsfConfig>
    <MsfPluginSolvers>
      <MsfPluginSolver name="LpSolveLP" capability="LP" assembly="LpSolvePlugIn.dll" solverclass="SolverFoundation.Plugin.LpSolve.LpSolveSolver" directiveclass="SolverFoundation.Plugin.LpSolve.LpSolveDirective" parameterclass="SolverFoundation.Plugin.LpSolve.LpSolveParams"/>
      <MsfPluginSolver name="LpSolveMIP" capability="MILP" assembly="LpSolvePlugIn.dll" solverclass="SolverFoundation.Plugin.LpSolve.LpSolveSolver" directiveclass="SolverFoundation.Plugin.LpSolve.LpSolveDirective" parameterclass="SolverFoundation.Plugin.LpSolve.LpSolveParams"/>
    </MsfPluginSolvers>
  </MsfConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
